/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scroll  */
html{
    scroll-behavior: smooth;
}

/* Background Color: Black */
body{
    background-color: black;
}

/* Utility Classes */
h1 {
    font-size: 50px;
}
p{
    font-size: 30px;
}

/* Navbar */
.navbar-brand{
    font-size: 30px;
}
.nav-item a{
    color: #fff!important;
    font-weight:bold;
}
.header{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.header:before{
    content: "";
    position: absolute;
}
.dropdown-menu a{
    color: black!important;
}
.extra{
    
    padding: 20px!important;
    text-align: center;
    display: flex;

}
/* Navbar Ends */

/* Top Sectiom: Video Bcakground */
header {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video 
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container
{
    position: relative;
    z-index: 2;
}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
 /* Top SEction Ends */
#share{
    margin-top: 125px;
}
#share h1{
    margin: 20px 0px;
}
.box{
    margin:50px 100px;
    padding: 0px 0px;
}
.box img{
    margin: 20px 0px;
    height:250px;
    width:450px;
}
#search{
    margin: 125px 0px 50px 0px ;
}
#search h1{
    margin: 20px 0px;
}

.btn{
    margin: 30px 0px;
    background-color: #fff;
    color: black;
    width: 100%;

}

.page-footer{
    height: 25vh;
    width: 100%;
    color:whitesmoke;
    background-color: black;
}
footer .container ul li a i{
    cursor: pointer;
    
}

/* @media (max-width:1200px){
    .share{
        height: 50vh;
    }
}
@media (max-width:765px){
    .share{
        height: 65vh;
    }
}

@media (max-width:414px){
    .share{
        height: 80vh;
    }  */